fastapi
uvicorn[standard]
python-dotenv
requests
motor
passlib[bcrypt]
bcrypt
email-validator
google-search-results==2.4.0
serpapi
pydantic
google-genai
cryptography
pillow
aiofiles
python-multipart
typing-extensions