@import "tailwindcss";

body {
    font-family: 'Playfair Display', serif;
    background-color: black;
    color: #fff;
    height: auto;
    width: auto;
}
/* Hide scrollbar but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
