.root {
    max-width: 1512px;
    margin: auto;
    width: 90%;

    @media screen and (max-width: 1022px) {
        width: 85%;
        padding: 0rem 15px 0px;
    }

    @media screen and (max-width: 576px) {
        width: 100%;
        padding: 0rem 15px 0px;
    }
}

.paddingNotMobile {
    padding: 0px;
}